#kitapEkleForm{
	padding: 30px 30px 40px  30px;
  	box-shadow: 2px 6px 30px 20px rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
    width: 35%;
    position: relative;
    margin: auto;
}