<div class="text-center" style="display: flex; margin-bottom: 30px;">
    <div style="position: absolute; right: 0; margin: 5px 5px 5px 5px; ">
        <div class="pull-left">
            <button routerLink="/kitaplar/add" class="btn btn-primary" id="btnKitapEkle" >Kitap Ekle</button>
        </div>
    </div>
    <div style="position: absolute; right:10px;top:10px ; margin: 0px 5px ,0px 5px; ">
        <div class="inner-addon right-addon search-icon">
            <i class="glyphicon glyphicon-search "></i>
            <input type="text" placeholder="Search" class="form-control search-box" />
        </div>
    </div>
</div>


<div *ngFor="let item of kitaplar" class="col-xs-12 col-sm-6 col-md-4 books-list" style="margin-top: 50px;">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip ">
            <div class="frontside ">
                <div class="card">
                    <div class="card-body book-card book-card-front text-center">
                        <p><img class=" img-fluid" src={{item.fotoUrl}} alt="card image"></p>
                        <h4 class="card-title">{{item.ad}}</h4>
                        <p class="card-text">{{item.yazar}}</p>
                    </div>
                </div>
            </div>
            <div class="backside">
                <div class="card">
                    <div class="card-body book-card book-card-back text-center mt-4">
                        <h4 class="card-title">{{item.ad}}</h4>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero in,
                            architecto natus sit non dolorum odio repellat fugiat temporibus asperiores alias
                            earum ratione tenetur a. Nobis ipsa molestiae repellat ipsam.</p>
                        <p class="card-text">Fiyat : {{item.fiyat}}</p>
                        <p class="card-text">Stok : {{item.stok}}</p>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" routerLink="/kitaplar/update/{{item.id}}">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="social-icon text-xs-center" routerLink="/kitaplar/buy/{{item.id}}">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>