
<div id="kitapGuncelleDiv"> 
<form [formGroup]="kitapGuncelle" (ngSubmit)="collection()" class="container update-form" id="kitapGuncelleForm">
    <div class="form-group">
        <label>Kitap Adı</label>
        <input type="text" class="form-control" placeholder="Kitap Adı" formControlName="ad">
    </div>
    <div class="form-group">
        <label>Yazar</label>
        <input type="text" class="form-control" placeholder="Yazar" formControlName="yazar">
    </div>
    <div class="form-group">
        <label>Fiyat</label>
        <input type="text" class="form-control" placeholder="Fiyat" formControlName="fiyat">
    </div>
    <div class="form-group">
        <label>Stok</label>
        <input type="text" class="form-control" placeholder="Stok" formControlName="stok">
    </div>
    <div class="form-group">
        <label>Fotoğraf</label>
        <input type="text" class="form-control" placeholder="Fotoğraf Yolu" formControlName="fotoUrl">
    </div>

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert" >
        <strong>Success!</strong> Your data has been edit successfuly.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <button type="submit" class="btn btn-primary" style="background-color: #d0762e;">Update</button>
</form>
</div>