
<section id="team" class="pb-5">
	
	<div class="container team-container">
		<h5 class="section-title h1">OUR TEAM</h5>
		<div class="row">
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid"
											src="https://cdn.discordapp.com/attachments/787746803104612352/792424556069126154/profile.jpg"
											alt="card image"></p>
									<h4 class="card-title">Hamdi Damar</h4>
									<p class="card-text">Long Term Full Stack Intern at Codeo</p>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Hamdi Damar</h4>
									<p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisi. Codeo şirketinde uzun dönem stajyer</p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-skype"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-google"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->


			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid"
											src="https://avatars3.githubusercontent.com/u/50769743?s=460&u=a7f4731b97378df3080a19756ff459f29b669024&v=4"
											alt="card image"></p>
									<h4 class="card-title">Cihan Çifci</h4>
									<p class="card-text">Codeo Intern</p>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Cihan Çifci</h4>
									<p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisi. Codeo şirketinde uzun dönem stajyer</p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-skype"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-google"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ./Team member -->
			<!-- Team member -->
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="image-flip" ontouchstart="this.classList.toggle('hover');">
					<div class="mainflip">
						<div class="frontside">
							<div class="card">
								<div class="card-body text-center">
									<p><img class=" img-fluid"
											src="https://avatars2.githubusercontent.com/u/49327647?s=400&u=b6c2b3160f0b2f4ee376adfef36f0d5c0708e775&v=4"
											alt="card image"></p>
									<h4 class="card-title">Eyyüp Sert</h4>
									<p class="card-text">Android Developer</p>
								</div>
							</div>
						</div>
						<div class="backside">
							<div class="card">
								<div class="card-body text-center mt-4">
									<h4 class="card-title">Eyyüp Sert</h4>
									<p class="card-text">Manisa Celal Bayar Üniversitesi Yazılım Mühendisliği 4. sınıf öğrencisi.Junior Android Developer</p>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-facebook"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-twitter"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-skype"></i>
											</a>
										</li>
										<li class="list-inline-item">
											<a class="social-icon text-xs-center" target="_blank" href="#">
												<i class="fa fa-google"></i>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		